<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script defer src="https://apis.google.com/js/api.js"></script>
<script defer src="../public/javascripts/data.js"></script>
<script defer src="../public/javascripts/calendar.js"></script>

<div class="alert alert-success" role="alert">Your classes info has been saved. Creating events in your google calendar...</div>