<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>
    
    <link rel="icon" href="/images/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", function() {
        let firstPath = window.location.pathname.split('/')[1];
        let link = document.getElementById(firstPath);
        if (link) link.classList.add("active");
      })
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/about">
            <img alt="B Schedule" src="/images/logo.png" id="brand-image">
          </a>
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <li id="about"><a href="/about">About</a></li> <!--active-->
            <li id="setup"><a href="/setup">Setup</a></li>
            <li id="contact"><a href="/contact">Contact Us</a></li>
          </ul>
          
        <ul class="nav navbar-nav navbar-right">
          <a href="/login" class="btn navbar-btn btn-default">Login</a>
          <a href="/sign-up" class="btn navbar-btn btn-primary">Sign Up</a>
        </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" id="body">
      {{{body}}}
    </div>
  </body>
</html>
<!--add options for classes; more classes; clubs
mark breaks
download option-->