<h2 class="col-sm-offset-4">Login to B Schedule</h2>
<br>
<form action="/account/login" method="POST" class="form-horizontal">
  <div class="form-group">
    <label for="email" class="col-sm-offset-1 col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" name="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-offset-1 col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
   <div id="g_id_onload"
    data-client_id="331844839189-btk5imvfr1ju0d9q0bpadr4f72sf28cp.apps.googleusercontent.com"
    data-login_uri="/account/google-login" <!-- change to absolute uri-->
    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
</form>