<div>{{title}}</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 60%;" role="progressbar"></div>
</div>

  
<div class="container-fluid">
  <div class="btn-group btn-group-justified" role="group"></div>
  <div class="col-md-4">
    <a href="/setup/calendar" class="btn btn-warning">Calendar</a>
  </div>
  <div class="col-md-4">
    <a href="/setup/schedule" class="btn btn-warning">Schedule</a>
  </div>
  <div class="col-md-4">
    <a href="/setup/classes" class="btn btn-warning">Classes</a>
  </div>
</div>