:root {
  --main-light: #D9D0DE;
  --main-dark: #78586F;
  --nav-black: #241023;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar-default {
  background-color: var(--main-light); /*#dbc880 #862332*/
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

#brand-image {
  max-width: 100%;
  max-height: 100%;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-btn.btn-default {
  color: var(--nav-black);
}

.navbar-default .navbar-btn.btn-primary {
  background-color: var(--main-dark);
  border-color: #946D89
}

.navbar-default .navbar-link {
  color: var(--nav-black);
  padding: 15px 10px;
}

.navbar-right {
  margin-right: 15px;
}

#body {
  margin-left: 100px;
  margin-right: 100px;
}
