body {
  /*padding: 50px;*/
  font: 14px "Montserrat", sans-serif;
}

.navbar-default {
  background-color: #dbc880; /*#dbc880 #862332*/
  font-family: "Oswald", sans-serif;
}

.navbar-brand {
  padding: 10px;
}

.navbar-nav>li>a {
  line-height: 30px;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #241023;
}

.navbar-header>.navbar-text {
  margin-left: 0px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  color: #241023;
}